{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>Réinitialisation de mot de passe
				</h1>
				{# on récupère le formulaire depuis le controller à partir de la funciton twig{{form}} #}
				{{form_start(passForm)}}
				{{form_row(passForm.password)}}
				<button type="submit" class="btn btn-primary">Envoyer</button>
				{{form_end(passForm)}}

			</div>
		</div>
	</section>

{% endblock %}
