{% extends 'base.html.twig' %}

{% block title %}Administration des produits
{% endblock %}

{% block body %}
	<div class="main">
		<section class="row">
			<div class="col-12">
				<h1>Modifier un produit</h1>
				{# on passe la variable pour le btn dans le include avec with #}
				{% include "admin/products/_form.html.twig" with {'button_label':'Modifier'}%}
			</div>
		</section>
	</div>

{% endblock %}
